@keyframes moveleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  60% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

@keyframes moveright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  60% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

@keyframes movebtn {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0rem); } }

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  text-transform: uppercase;
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3rem;
    font-weight: 400;
    animation-name: moveleft;
    animation-duration: 3s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    letter-spacing: 1.2rem;
    font-weight: 400;
    font-weight: bold;
    animation: moveright 3s ease-in;
    margin-bottom: 5rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #34ee14be, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.4rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  border-radius: 10rem;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: -1;
  transition: all .4s; }

.btn--animate {
  animation: movebtn 3s ease-out 1s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  color: #55c57e;
  border-bottom: 1px solid #55c57e;
  padding: 3px;
  font-weight: bold;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57e;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-4px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.section-about {
  background-color: f7f7f7;
  padding: 10rem 0; }

.header {
  height: 95vh;
  background-image: linear-gradient(#55c57e, #34ee14be), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row [class^="col-1"] {
    float: left; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem)/2);
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 8rem; }
