//colors
$color-primary:#55c57e;
$color-primary-dark:#34ee14be;
$color-primary-light:#28b485;
$color-grey:#777;
$color-black:#000;
$color-white:#fff;
$color-grey-light1:f7f7f7;

//font sizes

$default-font-size:1.6rem;

//Grid variables
$grid-width:114rem;
$gutter-vertical:6rem;
$gutter-horizontal:8rem;

